@use "sass:map";
$themes: (
  light: (
    logo: #f77a13,
    textColor: #000,
    textColorSoft: #555,
    bg: #fff,
    bgSoft: #f6f3f3,
    border: lightgray,
  ),
  dark: (
    logo: #f77a13,
    textColor: #f5f5f5,
    textColorSoft: lightgray,
    bg: #222,
    bgSoft: #333,
    border: #444,
  ),
);


// Generate CSS variables per theme
@each $theme-name, $theme-map in $themes {
  .#{$theme-name}-theme {
    @each $key, $value in $theme-map {
      --#{$key}: #{$value};
    }
  }
}

@function themed($key) {
  @return var(--#{$key});
}

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 960px) {
    @content;
  }
}

@mixin themify($themes) {
  @each $theme-name, $theme-map in $themes {
    .#{$theme-name}-theme & {
      @content;
    }
  }
}
