$themes: (
  light: (
    logo: #f77a13,
    textColor: #000,
    textColorSoft: #555,
    bg: #fff,
    bgSoft: #f6f3f3,
    border: lightgray,
  ),
  dark: (
    logo: #f77a13,
    textColor: #f5f5f5,
    textColorSoft: lightgray,
    bg: #222,
    bgSoft: #333,
    border: #444,
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .#{$theme}-theme & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
