@use "../../App.scss" as *;

.events {
    padding: 20px;
    background-color: themed("bgSoft");
    color: themed("textColor");
    min-height: 92vh;

    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .filter-bar {
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        background-color: themed("bg");
        margin-bottom: 30px;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);


        .search-bar {
            display: flex;
            justify-content: center;
            gap: 10px;

            input {
                font-size: 16px;
                padding: 10px;
                width: 400px;
                height: 40px;
                border-radius: 5px;
                border: 1px solid themed("border");
                outline: none;
                background-color: themed("bg");
                color: themed("textColor");

                &:focus {
                    border-color: themed("logo");
                    box-shadow: 0 0 0 2px rgba(247, 122, 19, 0.2);
                }

                &:hover {
                    border-color: themed("logo");
                }
            }

            button {
                cursor: pointer;
                font-size: 16px;
                height: 40px;
                border: none;
                padding: 10px 20px;
                border-radius: 5px;
                background-color: themed("logo");

                &:hover {
                    background-color: adjust-hue($color: #f77a13, $degrees: -8);
                }
            }
        }

        .filter-dropdown {
            display: flex;
            align-items: center;
            gap: 1rem;

            div {
                font-size: 20px;
                font-weight: 500;
            }

            span {
                font-size: 16px;
                color: themed("textColor");
            }

            select {
                appearance: none;
                padding: 0.5rem 1rem;
                width: 150px;
                height: 36px;
                border-radius: 20px;
                border: 1px solid themed("border");
                background-color: themed("bg");
                color: themed("textColorSoft");
                font-size: 16px;
                cursor: pointer;
                outline: none;

                &:hover {
                    border-color: themed("logo");
                }

                &:focus {
                    border-color: themed("logo");
                    box-shadow: 0 0 0 2px rgba(247, 122, 19, 0.2);
                }

                option {
                    background-color: themed("bg");
                    color: themed("textColor");
                    padding: 10px;
                }
            }
        }
    }

    .event-list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}