@use "../../App.scss" as *;


.home {
  background-color: themed('bgSoft');
  // color: themed('textColor');
  padding: 20px 20px 20px 40px;

  @include mobile {
    padding: 10px;
  }

  @include tablet {
    padding: 20px;
    width: 60vh;
  }
}