@use "../../App.scss" as *;

.rightbar {
    flex: 3;
    position: sticky;
    top: 8vh;
    height: 92vh;
    background-color: themed("bgSoft");
    color: themed("textColor");
    overflow: scroll;
    scrollbar-width: none; // For Firefox

    @include mobile {
      display: none;
    }

    @include tablet {
      display: none;
    }

    &::-webkit-scrollbar {
      // For Chrome
      display: none;
    }

    .container {
      margin: 1.3rem;
      
      .item {
        background-color: themed("bg");
        margin-bottom: 1.3rem;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1),
          0px 2px 10px rgba(0, 0, 0, 0.1);
        padding: 1rem 1.5rem;
        border-radius: 20px;

        .header {
          display: flex;
          justify-content: space-between;
          span {
            color: themed('textColorSoft');
            font-size: 15px;
            margin-bottom: 10px;
          }

          a {
            text-underline-offset: 3px;
            text-decoration-color: themed("border");
            span {
              font-size: 13px;
            }
          }
        }

        .entity {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 10px 0;
          overflow-x: scroll;
          scrollbar-width: none;

          .entity-info {
            display: flex;
            align-items: center;
            gap: 10px;

            a {
              gap: 0.5rem;
              text-decoration: none;
              display: flex;
              align-items: center;
              img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
                cursor: pointer;
                overflow: hidden;
                aspect-ratio: 1/1;
              }
  
              span {
                font-size: 1rem;
                font-weight: 500;
                color: themed("textColor");
                cursor: pointer;
              }
            }
          }

          .buttons {
            display: flex;
            align-items: center;
            gap: 0.2rem;

            button {
              padding: 2px 6px;
              border: none;
              color: themed("textColor");
              cursor: pointer;
              font-weight: 500;
              border-radius: 5px;

              &.subscribed {
                background-color: themed("bgSoft");
                color: themed("textColorSoft");
                
                &:hover {
                  background-color: #ddd;
                }
              }

              &:first-child {
                background-color: #f77a13;
              }

              &:last-child {
                background-color: rgb(143, 143, 143);
                color: themed("textColor"); 
              }
            }
          }

          .date {
            color: themed("textColorSoft");
            font-size: 0.9rem;
          }
        }
      }
    }
  }
