@import "../../App.scss";

.rightbar {
  @include themify($themes) {
    flex: 3;
    position: sticky;
    top: 8vh;
    height: 92vh;
    background-color: themed("bgSoft");
    color: themed("textColor");
    overflow: scroll;
    scrollbar-width: none; // For Firefox

    &::-webkit-scrollbar {
      // For Chrome
      display: none;
    }

    .container {
      margin: 1.3rem;
      
      .item {
        background-color: themed("bg");
        margin-bottom: 1.3rem;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1),
          0px 2px 10px rgba(0, 0, 0, 0.1);
        padding: 1rem 1.5rem;
        border-radius: 20px;

        span {
          color: themed('textColorSoft');
          font-size: 12px;
        }

        .entity {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 10px 0;

          .entity-info {
            display: flex;
            align-items: center;
            gap: 10px;

            img {
              max-width: 35px;
              max-height: 35px;
              border-radius: 50%;
              object-fit: cover;
              cursor: pointer;
            }

            span {
              font-size: 1rem;
              font-weight: 500;
              color: themed("textColor");
              cursor: pointer;
            }
          }

          .buttons {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            button {
              padding: 5px 7px;
              border: none;
              color: themed("textColor");
              cursor: pointer;
              font-weight: 500;
              border-radius: 5px;

              &:first-child {
                background-color: #f77a13;
              }

              &:last-child {
                background-color: rgb(143, 143, 143);
                color: themed("textColor"); 
              }
            }
          }

          .date {
            color: themed("textColorSoft");
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}
