@use "../../App.scss" as *;

.stories {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    height: 100px;
    width: 50vw;
    padding: 0 10px;
    overflow-x: auto;
    // border-radius: 20px;

    scrollbar-width: none; // For Firefox
    &::-webkit-scrollbar {
      // For Chrome
      display: none;
    }

    @include mobile {
        height: 50px;
        width: 90vw;
        justify-content: space-around;
    }

    @include tablet {
        gap: 20px;
        width: 90vh;
    }

    .story {
        flex: 0 0 auto;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        height: 100px;
        width: 100px;

        @include mobile {
            flex: none;
            height: 50px;
            width: 50px;
            border-radius: 50%;
        }
        
        img {
            border-radius: 50%;
            height: 100%;
            width: 100%;
            object-fit: cover;
            border: 4px solid #222; 
            cursor: pointer;
        }

        span {
            position: absolute;
            bottom: 5px;
            left: 10px;
            // color: white;
            font-weight: 500;
            overflow: hidden;

            @include mobile {
                display: none;
            }
        }

        #add-story-btn {
            position: absolute;
            bottom: 5px;
            left: 5px;
            width: 35px;
            height: 35px;
            line-height: 30px;
            text-align: center;
            border-radius: 50%;
            font-size: 1.5rem;
            font-weight: bold;
            color: white;
            background-color: #f77a13;
            border: none;
            cursor: pointer;

            @include mobile {
                margin: auto;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }
        } 

        .skeleton-image {
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
            background-size: 200% 100%;
            animation: loading 1.5s infinite;
            border-radius: 10px;
        }

        @keyframes loading {
            0% { background-position: 200% 0; }
            100% { background-position: -200% 0; }
        }
    }
}